[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causaloptim"]
	path = causaloptim
	url = https://github.com/sachsmc/causaloptim
[submodule "cosinor"]
	path = cosinor
	url = https://github.com/sachsmc/cosinor
[submodule "eventglm"]
	path = eventglm
	url = https://github.com/sachsmc/eventglm
[submodule "plotROC"]
	path = plotROC
	url = https://github.com/sachsmc/plotroc
[submodule "pseval"]
	path = pseval
	url = https://github.com/sachsmc/pseval
[submodule "testassay"]
	path = testassay
	url = https://github.com/sachsmc/testassay
[submodule "tufterhandout"]
	path = tufterhandout
	url = https://github.com/sachsmc/tufterhandout
